<div id='country'>
  {{#each country}}
    <h1 class='title'>{{name.common}}</h1>
    <div class='block'>
      <div class='des-info'>
        <span class='des-info__text'>Capital: {{capital}}</span>
        <span class='des-info__text'>Population: {{population}}</span>
        <span class='des-info__text'>languages:</span>
        <ul>

          {{#each languages}}
            <li><p class='des-info__lang'>{{this}}</p></li>
          {{/each}}
        </ul>
      </div>
      {{/each}}
      <img class='flag-img' src='{{this.link}}' alt='flag-{{name.common}}' />
    </div>
  
</div>